@model BookShop.Models.Product
<div class="card">
	<div class="card-title">
		<h2>Update Category</h2>
	</div>
	<div class="card-body">

		@Html.AntiForgeryToken()

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<input type="hidden" id="productid" value=@Model.Id />
					<input type="hidden"  id="imageurlid"  value="@Model.ImageUrl" />

					
					<label>Title</label>
					<input id="titleid" class="form-control form-control-lg" value="@Model.Title"  />
				
					
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Description</label>
					<input id="descriptionid" class="form-control form-control-lg" value="@Model.Description" />
		
				</div>
			</div>
		</div>
		

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>ISBN</label>
					<input id="isbnid" class="form-control form-control-lg" value="@Model.ISBN" />

				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Author</label>
					<input id="authorid" class="form-control form-control-lg" value="@Model.Author" />
		

				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Price</label>
					<input id="priceid" class="form-control form-control-lg" value="@Model.Price" />
					


				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Image</label>
					<input id="fileInput" name="file" type="file" accept="image/*" class="form-control form-control form-control-lg"
						   onchange="loadImage(event)" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Category</label>
					<select id="catid" class="form-select form-select-lg" aria-label="Default select example" asp-for="CategoryId" asp-items="ViewBag.categoryList">
						<option value="" disabled>select Category</option>
					</select>
				</div>
			</div>
		</div>






		<div class="row">
			<div class="col-lg-6">
				<div class="form-group" style="margin-top:10px">
					<a onclick="handleupdate()" class="btn btn-success">Update</a> <a onclick="backtolist()" class="btn btn-success">Back To List</a>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-6">
				<div class="form-group" style="margin-top:10px">
					<img src="~/@Model.ImageUrl" alt="product Image" id="defaultimg" height="100" width="100" />
				</div>
			</div>
		</div>


	</div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">


	function loadImage(event) {
		var output = document.getElementById('defaultimg');
		output.src = URL.createObjectURL(event.target.files[0]);
		output.onload = function () {
			URL.revokeObjectURL(output.src);
		};
	}

	function backtolist() {
		window.location.href = "https://localhost:7001/Admin/Product";
	}
	function handleupdate() {
		//var idData = $('#productid').val();
		//var imgurlData = $('imageurlid').val();
		//var titleData = $('#titleid').val();
		//var descriptionData = $('#descriptionid').val();
		//var isbnData = $('#isbnid').val();
		//var authorData = $('#authorid').val();
		//var priceData = $('#priceid').val();
		//var data = {
		//	id: idData,
		//	imgurl: imgurlData,
		//	title: titleData,
		//	description: descriptionData,
		//	isbn: isbnData,
		//	author: authorData,
		//	price: priceData,

		//};
		//console.log(data);

		var idData = $('#productid').val();
		var imgUrlData = $('#imageurlid').val();
		var titleData = $('#titleid').val();
		var descriptionData = $('#descriptionid').val();
		var isbnData = $('#isbnid').val();
		var authorData = $('#authorid').val();
		var priceData = $('#priceid').val();
		var categoryidData = $('#catid').val();
		var imgData = $('#imageid').val();

		var file = $('#fileInput').get(0).files[0];
		console.log(file);

		var data = new FormData();
		data.append("id", idData);
		data.append("imageurl", imgUrlData);
		data.append("title", titleData);
		data.append("description", descriptionData);
		data.append("isbn", isbnData);
		data.append("author", authorData);
		data.append("price", priceData);
		data.append("categoryid", categoryidData);
		data.append("image", file);
		for (x of data) {
			console.log(x[0] + " " + x[1]);
		}

		let elements = document.getElementsByName("__RequestVerificationToken")[0].value;
       
		console.log(elements);
		$.ajax({
			url: "Edit",
			type: "PUT",
			headers: { 'RequestVerificationToken': elements },
		
			data: data,

			processData: false,
			contentType: false,
			success: function (result) {
				//console.log(data)
				console.log('User saved:', result);
				window.location.href = "https://localhost:7001/Admin/Product";
			},
			error: function (errormessage) {
				alert('error');
			}
		});
	}
</script>



